mixin infos(title, company, date, link)
  h3.title= title
  if company
    h3.company= company
  if date
    h3.date= date
  block
  if link
    a.button.link(href=link) View


mixin card(title, company, date, image, link, backup_image)
  article.card
    if image
      if backup_image
        picture
          source.thumb(type="image/webp" srcset="images/" + image)
          img.thumb(src="images/" + backup_image alt="a butterfly")
      else
        img.thumb(src="images/" + image)
      .infos
        +infos(title, company, date, link)
          block
    else
      img.thumb-no-hover(src="images/physics.jpg")
      .infos-no-hover
        +infos(title, company, date, link)
          block

doctype html
html
  head
    title Shawn Of The Dev
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="author" content="Shawn Blakesley")
    meta(name="description" content="The home page of a full-stack engineer with additional NLP and embedded experience.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@BlakesleyShawn")
    meta(name="twitter:title" content="Shawn of the Dev")
    meta(name="twitter:description" content="The home page of a full-stack engineer with additional NLP and embedded experience")
    meta(name="twitter:image" content="https://shawnofthe.dev/images/carousel.jpg")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="css/styles.css")
  body
    link(href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet" crossorigin="anonymous")
    .header
      nav.white(role="navigator")
          h1 Shawn of the Dev
          .icons-bar
            each icon in icons
              a.icon(href=icon.link)
                i(class=icon.class style="color: #fff;")
    .main
      if values
        section.values
          h2 Values
          .cards
            each value in values
              +card(value.title, "", value.subtitle, value.image, "", value.backup_image)
                each line in value.lines
                  p.txt= line
      if skills
        section.skills
          h2 Skills
          .cards
            each skill, index in skills
              div(class="flipped" + index % 4)
                +card(skill.title, "", skill.subtitle, skill.image, "", skill.backup_image)
                  .flex
                    each spec in skill.list
                        p.chip= spec
      if jobs
        section.jobs
          h2 Jobs
          .cards
            each job in jobs
              +card(job.title, job.company, (job.start?job.start + " - ":"") + job.end, job.image, "", job.backup_image)
                each line in job.description
                  p.txt= line
      if education
        section.education
          h2 Education
          .cards
            each degree in education
              +card(degree.major, degree.school, (degree.start?degree.start + " - ":"") + degree.end, degree.image, "", degree.backup_image)
                each line in degree.description
                  p.txt= line
      if projects
        section.projects
          h2 Projects
          .cards
            each project in projects
              +card(project.title, project.subtitle, project.date, project.image, project.link, project.backup_image)
                each line in project.description
                  p.txt= line
    h5.footer ~ Made with love by Shawn Blakesley ~